body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
    background-color: whitesmoke;
  }

#NavBar {
  height: 6vh;
  background-color: rgb(59, 55, 59);
  border-bottom: 2px solid black;
  color: black;
  float: top;
  margin: 0;
  padding: 0;
}

#NavBar ul {
  list-style-type: none;
  height: 100%;
  margin: 0;
  float: left;
  color: white;
  padding: 0;
}

#NavBar li {
  display: block;
  padding: 2px 16px;
}

#NavBar img {
  margin: 1vh;
  height: 4vh;
  filter: invert();
}

#NavBar a:hover {
  filter: brightness(85%);
}

.btns {
  width: 100%;
}

.btns .btn {
  background-color: #302f2a;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-style: solid;
  border-color: #585959;
  width: calc(25% - 10px);
  margin: 5px;
  display: inline-block;
  box-sizing: border-box;
}
.btn:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.display {
  height: 45px;
  background-color: grey;
  width: 100%;
  box-sizing: border-box;
  color: white;
  padding: 5px 10px;
  font-size: 24px;
  text-align: right;
  display: inline-block;
  border-style: solid;
}

#calculator {
  border: black;
  width: 50%;
  margin-left: calc(50% * 1/2);
  margin-top: 10vh;
}